<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shadowroot.mysteryoflimbo">

    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="34" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:label="Mystery of Limbo"
        android:hasCode="true"
        android:extractNativeLibs="true"
        android:allowBackup="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"> <activity android:name=".MysteryOfLimboActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|smallestScreenSize"
            android:exported="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>

